<!-- search-results.handlebars -->

{{!-- {{#if searchResults.length}}
  <ul>
    {{#each searchResults as |result|}} --}}
    <div class="user-searches">
      <li>
        <a href="/api/profile/{{id}}">
        <h2>{{username}}</h2>
        </a>
      </li>
      </div>
    {{!-- {{/each}}
  </ul>
{{else}}
  <p>No results found.</p>
{{/if}} --}}


