<h1 id="title"> home page </h1>
<div id="container">

    <div id="left-page">

        <div id="home-button">
            <button type="home-button">Home</button>
        </div>
        <div id="post button">
            <button type="post-button">Post</button>
        </div>
        <div id="Profile">
            <button type="profile-button">Profile</button>
        </div>
        <div>
            <button type="sign-out-button">Sign out</button>
        </div>
    </div>

    <div id="middle-page">
        <h1>Tweets</h1>
    </div>

    <div id="right-page">
    <input type="text" placeholder="search tweets" name="email" id="email" required>
    <button type="search-button">Search</button>
    </div>
</div>

