
<div class="homepage-banner">
<h1 id="title"> Posts for you {{message}}!</h1>
</div>

<div id="container">

    <div id="left-page">

        <a href="/"><div class="home-button">
            <button class="button-home">Home</button>
        </div></a>
        <a href="/api/search"><div class="home-button">
            <button class="button-home">Explore</button>
        </div></a>
        {{#if logged_in}}
        <div class="home-button">
            <button id="popup-button" class="button-home">Post</button>
        </div>
        <a href="/api/profile/{{user_id}}"><div class="home-button">
           <button class="button-home">Profile</button>
        </div></a>
          {{/if}}
    </div>

    <div id="middle-page">
        <div id="popup" class="popup">
    <button id="close-btn">X</button>
    <form action="/api/post/" method="POST">
    <div class="create-post">
        <h2>Post Text:</h2>
        <textarea id="text" name="text" rows="4" cols="50"></textarea>
   </div>
   <div class="submit-wrapper">
        <button id="submit-post">Submit</button>
        </div>
    </form>
</div>
        {{#if showCreatePost}}

            {{> _createPost}}
        {{/if}}
      
        {{#each newPost as |post|}}
        {{> _posts}}
    {{#if logged_in}}
        <div class="comment-section">
         <a id="post{{post.id}}" class="add-c"> Add a comment </a>
         <div class="comment-wrapper">
         <form class="add-comment">
        <p>Post Text:</p>
    <textarea id="text-comment" name="text" rows="4" cols="50"></textarea>
    <br>

</form>
    <button class="com-submit" id="comment-sbm">Submit</button>
    </div>
     </div>
       {{/if}}
           {{/each}}
    </div>

    <div id="right-page">
    {{!-- <input class="search-box" type="text" placeholder="search tweets" name="email" id="email" required> --}}
    {{!-- <button class="search-button" type="search-button">Search</button> --}}
    <section class="home-posts">
        <h2>Trending Posts</h2>
        {{#each trendingPosts as |post|}}
        {{> _trending}}
        {{/each}}
    </section>
    </div>
</div>
      <script src="/scripts/create-post.js"></script>
        <script src="/scripts/popup-handler.js"></script>

