<h1 id="title"> home page </h1>
<div id="container">

    <div id="left-page">

        <div class="home-button-home">
            <button class="button"type="home-button">Home</button>
        </div>
        <div class="home-button">
            <button class="button"type="post-button">Post</button>
        </div>
        <div class="home-button">
            <button class="button"type="profile-button">Profile</button>
        </div>
    </div>

    <div id="middle-page">
        <h1>Tweets</h1>
    </div>

    <div id="right-page">
    <input class="search-box" type="text" placeholder="search tweets" name="email" id="email" required>
    <button class="search-button" type="search-button">Search</button>
    </div>

</div>

