<h1> home page </h1>
<div id="container">

    <div id="left page">
        <div id="logo">
            <img src="" alt="">
        </div>
        <div id="home button">
            <button type="submit">Home</button>
        </div>
        <div id="post button">
            <button type="submit">Post</button>
        </div>
        <div id="Profile">
            <button type="submit">Profile</button>
        </div>
        <div>
            <button type="submit">Sign out</button>
        </div>
    </div>

    <div id="middle page">
        <h1>Tweets</h1>
    </div>

    <div id="right page">
    <button type="submit">Search</button>
    </div>
</div>
