{{#if registersuccess}}
<div class="flash-banner">
  <h1>{{registersuccess}}</h1>

</div>
{{/if}}
 <div class="loginform-wrapper">
        <div class="form-container">
          <h1>Login</h1>

          <div class="login-details-container">
          <b>Email</b>
          <input type="text" placeholder="Enter Email" name="mail" id="email">
          
          <b>Password</b>
          <input type="password" placeholder="Enter Password" name="psw" id="psw">
      
          <span id ='login-error' class="error"></span>
          <button type ="submit" id="loginbtn">Log in</button>
          </div>
  
    
        
      </form>
</div>
    <script src="/scripts/login.js"></script>