
   <div class="loginform-wrapper">
     <form class="register-form">
        <div class="regform-container">
          <div class="reg-header">
          <h1>Register</h1>
          <p>Please fill in this form to create an account.</p>
          </div>
          <div class="reg-inner-wrapper">
          <div class="block-wrapper">
          <b>First name</b>
          <input type="text" placeholder="Enter first name" name="fname" id="first_name">
          </div>
          <div class="block-wrapper">
         <b>Last name</b>
          <input type="text" placeholder="Enter last name" name="lname" id="last_name">
        </div>
        </div>
        <div class="reg-inner-wrapper">
        <div class="block-wrapper">
          <b>Username</b>
          <input type="text" placeholder="Enter Username" name="user" id="username">
          </div>
          <div class="block-wrapper">
          <b>Email</b>
          <input type="text" placeholder="Enter Email" name="mail" id="email">
          </div>
          </div>
          <div class="password-wrapper">
          <b>Password</b>
          <input type="password" placeholder="Enter Password" name="psw" id="psw">
      
          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat">
          </div>
          <span id="error-pw"></span>

          <div class="reg-button-wrapper">
          <button type ="submit" id="registerbtn">Register</button>
          <p>Already have an account? <a href="/login">Sign in</a>.</p>
          </div>
        </div>
      
      </form>
    </div>
    <script src="/scripts/authentication.js"></script>