<style>
h1 {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
}

.main-wrapper {
  width: 400px;
  margin: 0 auto;
  margin-top: 10px;
  border: 15px solid #ccc;
  background-color: #f2f2f2;
  padding: 10px;
}

.form-container {
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  margin-bottom: 15px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  box-sizing: border-box;
}

#loginbtn {
  background-color: #4CAF50;
  color: white;
  padding:10px 20px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#loginbtn:hover {
  opacity: 0.8;
}
</style>
<h1> Registration page </h1>

   <div class="main-wrapper">
     <form class="register-form">
        <div class="form-container">
          <h1>Register</h1>
          <p>Please fill in this form to create an account.</p>
          <b>First name</b>
          <input type="text" placeholder="Enter first name" name="fname" id="first_name">

         <b>Last name</b>
          <input type="text" placeholder="Enter last name" name="lname" id="last_name">

          <b>Username</b>
          <input type="text" placeholder="Enter Username" name="user" id="username">
      
          <b>Email</b>
          <input type="text" placeholder="Enter Email" name="mail" id="email">
          
          <b>Password</b>
          <input type="password" placeholder="Enter Password" name="psw" id="psw">
      
          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat">
          <span id="error-pw"></span>
          
      
          <button type ="submit" id="registerbtn">Register</button>
        </div>
        
        <div class="container signin">
          <p>Already have an account? <a href="/login">Sign in</a>.</p>
        </div>
      </form>
    </div>
    <script src="/scripts/authentication.js"></script>