
<h1 id="title">search page</h1> 
{{#if logged_in}}
{{#if message}}
{{message}}</h1>
  {{/if}}
    {{/if}}
<div id="container">

    <div id="left-page">

        <div class="home-button-home">
            <button class="button"type="home-button">Home</button>
        </div>
        <div class="home-button">
            <button class="button"type="profile-button">Explore</button>
        </div>
        <div class="home-button">
            <button class="button"type="post-button">Post</button>
        </div>
        <div class="home-button">
            <button class="button"type="profile-button">Profile</button>
        </div>
    </div>

    <div id="middle-page">
        <section>
            <form action="/api/search" method="post">
                <input type="text" name="search" placeholder="Search all posts...">
                <button id="search-button" type="submit">Search</button>
            </form>
            {{#if postSearches.length}}
            <ul>
                {{#each postSearches as |result|}}
                    {{> _postSearches}}
                {{/each}}
            </ul>
            {{else}}
            {{#each posts as |post|}}
                {{> _posts}}
            {{/each}}
            {{/if}}
        
        </section>
    </div>

    <div id="right-page">
    <section>
    <form action="/api/search" method="post">
      <input type="text" name="search" placeholder="Search...">
      <button id="search-button" type="submit">Search</button>
    </form>
    
    </section>
    <section>
        {{#each userSearches as |result|}}
            {{> _userSearches}}
        {{/each}}
    </section>
    </div>
</div>


