* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    color:black;
    overflow-x: hidden;
}

.top-nav {
    width: 100%;
    height: 60px;
    outline: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    /* outline: pink 2px solid; */
    margin-right: 50px;

}
.login-btn {
    width:80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
}
.nav {
    height: 100vh;
    width: 400px;
    outline: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
}
img {
    width: 150px;
    height: 100px;
    outline: 2px solid black;
}
.link-wrapper {
    display: flex;
    height: 200px;
    width: 300px;
    outline: blue 2px solid;
    flex-direction: column;
    align-items: center;
}

.home-btn, .post-btn, .profile-btn {
    margin: 10px;
    width: 100px;
    height: 50px;
    outline: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-wrapper {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.login-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    /* outline: pink 2px solid; */
    margin-right: 50px;

}
.login-btn {
    width:80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
}
.nav {
    height: 500px;
    width: 300px;
    outline: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 30px;
}
img {
    width: 150px;
    height: 100px;
    outline: 2px solid black;
}

.link-wrapper {
    display: flex;
    height: 400px;
    width: 300px;
    outline: blue 2px solid;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.home-btn, .post-btn, .profile-btn {
    margin: 10px;
    width: 200px;
    height: 70px;
    outline: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.register-form {
    width: 600px;
    height: 80vh;
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 700px;
    font-size: 24px;

}

input {
    height: 20px;
    padding: 10px;
}

button {
    height: 40px;
}

.form-container > * {
    margin: 5px;
}

#title {
    text-align: center;
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}


#left-page {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 750px;
    margin: 1.5%;
    align-items: center;
    border-radius: 15px;
}
.home-button-home {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.home-button {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.button {
    width: 60%;
    margin: 3%;
}

#middle-page {
    display: flex;
    flex-direction: column;
    width: 47%;
    height: auto;
    margin: 1.5%;
    border: 2px solid red;
    align-items: center;
    border-radius: 15px;
 
}

#right-page {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 750px;
    margin: 1.5%;
    border: 2px solid red;
    align-items: center;
    border-radius: 15px;
}

.search-box {
    margin-top: 10%;
    text-align: center;
}

.search-form {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.search-form form {
    display: flex; 
    flex-direction: row;
}
.search-form input {
    border-radius: 20px;
    width: 200px;
    margin-inline: 10px;
}
#search-button{
    width: 50px;
    height: 40px;
}
.search-button {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3%;
}

/* POST STYLING */
.home-posts {
    width: 100%;
    height: 1050px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post {
    height: auto;
    width: 90%;
    margin-top: 20px;
    overflow-y: hidden;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}
.post-header {
    width: 100%;
    font-size: 24px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.post-body {
    margin-top: 10px;
    width: 90%;
    height: 150px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}
.post-footer {
    width: 90%;
    height: auto;
    margin-bottom: 10px;

}
.comment-block {
    width: 500px;
    height: auto;
    display: none;

}
.post-footer li {
    padding: 5px;
}


/* popup */

/* Styles for the popup container */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Styles for the form elements */
.popup {
    top: 30%;
    left: 50%;
    height: auto;
    width: auto;
}
  